<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>About Dhopers</h2>
      <p>Dhopers is online laundry & dry washing service in Bangladesh.”Get your laundry and dry cleaning picked-up, cleaned and dropped-off with just taps on your phone or order online” - this can best describe Dhopers and its services. It intends to give a full support who is really busy at work as well as it provides a family package who could not spend time to do some boring menial task like laundry. Dhopers seeks to differentiate itself as the premier enterprise in the country.</p><br>
      <br>
    </div>
  </div>
</div>