<div class="">
  <h1 class="main-heading inner" style="color: #ddd !important; text-align: center; margin: 0 !important;">Frequently Asked Questions</h1></div>
  <hr />
<div class="w-section section faq" id="features">
  <div class="w-container how-it-works">
    <div class="w-row feature-row">
      <div class="w-col w-col-6"><h3 class="hit _44">How does it work?</h3>

        <p class="hit _44">We make it nice and easy for our customers to get their laundry Picked Up, Cleaned and
          Delivered. Simply create an account with a username and a password, and that’s it! Simply
          click place order with a suitable Pick Up and Drop Off time and day.</p>

        <h3 class="hit _44">What happens when I click PLACE ORDER?</h3>

        <p class="hit _44">After making your booking, a confirmation email will be sent to you. A member of the Wash
          Plus team will then contact you to confirm the pick-up time you requested is still OK and
          come at your doorstep to get the laundry.</p>

        <h3 class="hit _44">What If I need to cancel or reschedule an order?</h3>

        <p class="hit _44">We understand that sometimes your plans change. Simply get in touch with Wash Plus to
          either cancel or re-schedule your order by email info@washplus.net. Don’t worry - there are
          no penalties or fees!</p></div>
      <div class="w-col w-col-6"><h3 class="hit _44">What If I forget my Password or Username?</h3>

        <p class="hit _44">If you have forgotten your log in credentials, simply try logging in and click forgot
          password.
          An e-mail will be sent to your e-mail address confirming your details. Follow the simple steps
          to retrieve forgotten username or password.</p>

        <h3 class="hit _44">When and how do I pay?</h3>

        <p class="hit _44">We currently only accept Cash. This will be collected upon delivery of your laundry back to
          you. We will be accepting card payments soon, so watch this space!</p>

        <h3 class="hit _44">You don’t cover my area, can you help?</h3>

        <p class="hit _44">Unfortunately, if you are out of our coverage area, we will not be able to service your
          laundry. However, please create an account so have your details on file as we expand across
          Dubai.</p></div>
    </div>
  </div>
</div>