<div class="w-container"><h2>Bangladesh's favourite online laundry service</h2>

  <div class="section-subtitle">Dhopers makes it easy to request pickup and delivery of your laundry and dry cleaning.
    We also provide the status of your order every step of the way!
  </div>
  <!--<div class="w-embed w-video" style="padding-top: 56.20608899297424%;">-->
  <!--<iframe class="embedly-embed" src="http://cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FySV4450bupU%3Ffeature%3Doembed&amp;url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DySV4450bupU&amp;image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FySV4450bupU%2Fhqdefault.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=youtube" scrolling="no" frameborder="0" allowfullscreen=""></iframe>-->
  <!--</div>-->
</div>
<div class="w-container how-it-works">
  <div class="w-row feature-row">
    <div class="w-col w-col-4">
      <img src="<%= asset_path('55b170f179c1f9ed2a7f5ae9_54bb8bb5ca048de045452b7b_clock-icon.png') %>" width="108" data-ix="fade-in-on-scroll">

      <h3 class="hit">Place Order</h3>

      <p class="hit">Easily choose pickup &amp; dropoff times at your convenience. Sit back and relax.</p></div>
    <div class="w-col w-col-4">
      <img src="<%= asset_path('55b170d43f62d8dd4776c590_truck1.jpg') %>" width="125" data-ix="fade-in-on-scroll">

      <h3 class="hit">We Pick up</h3>

      <p class="hit">We bring personal bags, pick up your laundry, and get it sorted within 3 days.</p></div>
    <div class="w-col w-col-4">
      <img src="<%= asset_path('55b176ab3f62d8dd4776c616_hanger.png') %>" width="114" data-ix="fade-in-on-scroll">

      <h3 class="hit">Enjoy Clean Clothes</h3>

      <p class="hit">Your clean clothes are back with you, so that you can focus on what really matters.</p></div>
  </div>
</div>
</div>
<div class="w-section section download" id="features">
  <div class="w-container">
    <h2>Get your laundry cleaned today</h2>

    <div class="section-subtitle">Dhopers makes it easy to request pickup and delivery of your laundry and dry cleaning.
      We also provide the status of your order every step of the way!
    </div>
    <div class="buton" id="buton">
      <!--					<a class="w-inline-block ios-link" href="https://itunes.apple.com/ae/app/wash+-laundry-dry-cleaning/id912215236?mt=8" target="_blank">-->
      <!--						<img src="images/55b27aa484805b0a573b3adc_ios.png" width="220">-->
      <!--					</a>-->
      <a class="w-inline-block androidlink" href="" target="_blank">
        <img src="<%= asset_path('55b27acbf6fb61c155b5d8f2_android.png') %>" width="215">
      </a>
    </div>
  </div>
</div>
