<div class="w-container how-it-works"><div class="w-row feature-row"><div class="w-col w-col-9"><h3 class="hit _44">Terms and Conditions</h3>
  <br>
  <p>
    <b>1. Our contract with you</b><br>
    1.1 These Terms will apply to any Order we accept from you via the App or via Website, including any Order that is changed under paragraph 4. Note that unless you accept these Terms, you will not be able to place an Order.
    <br>
    1.2 We may change the Terms from time to time and it is the current version which will apply to each Order when you place it. We will notify you of changes to the Terms by email.
    <br>
    1.3 Please read these Terms carefully and make sure that you understand them before placing an Order.

    <br>1.4 If you need to contact Us at any time about an Order you may do so as set out in paragraph 13.
    <br>
    <b>2. Definitions</b><br>
    2.1 When the following words with capital letters are used in these Terms, this is what they will mean
    <br>
    2.1.1 App: Dhopers; Website: Dhopers.com
    <br>
    2.1.2 Event Outside Our Control: any occurrence or circumstances over which we have no control as described in paragraph 2 and including (without limitation) the unavailability of any Service Provider, key personnel or key materials without which We are unable to provide the Services;

    <br>2.1.3 Item: any garment or article collected from you in connection with an Order;
    <br>
    2.1.4 Order: your order for the Services as set out in the order form submitted via the App or Website;
    <br>
    2.1.5 Services: personal dry cleaning or laundry services collected from and delivered to your nominated address;
    <br>
    2.1.6 Service Providers: any third party with which we contract in order to assist us in providing the Services;
    <br>
    2.1.7 Terms: these terms and conditions as amended from time to time; and

    <br>2.1.8 We/Our/Us: Dhopers.

    <br>2.2 When we use the words “writing” or “written” in these Terms, this will include e- mail and notifications via the App or Website.


    <br><b>3. Placing an Order</b>
    <br>3.1 Please ensure that you check the details of your Order before submitting it as we will not be liable to you for any errors you make. For example, please check carefully that you correctly identify each Item. If you think that you may have made a mistake, please contact us as set out in paragraph 13. We will confirm any changes to your Order by email. Changes are also dealt with under paragraph 4.
    <br>3.2 Submission of an Order does not create a contract between us. The contract arises when we send you an email confirming receipt of your Order. The email will include your billing information.
    <br>3.3 We will assign a job number to each Order and inform you of it when we accept the Order. Please quote the order number in all subsequent contact with us.
    <br>3.4 If for any reason We are unable fulfil your Order, We will let you know by email or by a phone call.

    <br><b>4. Changes to your Order</b>
    <br>4.1 You may make a change to an Order at any time before the collection/pick-up. Our email acceptance of your Order by telephoning our Customer Care Helpline on the number set out in paragraph 13.
    <br>4.2 With your consent and at our discretion, we may make a change to your Order as an alternative to cancelling it in the circumstances set out in paragraph 1or in the exercise of our discretion under paragraph 8.3.
    <br>4.3 Where changes are made to an Order under either of the preceding sub- paragraphs We will re-issue the Order confirmation to you via email pr phone call.

    <br><b>5. Cancelling your Order</b>
    <br>5.1 You have the following limited rights to cancel an Order.
    <br>5.2 You may cancel your Order in the following circumstances:
    <br>5.2.1 at any time within 1 hour after confirming the order/pick-up request by phone.
    <br>5.2.2 at any time before the collection time set out in Our email acceptance of your Order by telephoning our Customer Care Helpline on the number set out in paragraph 13; or 5.2.3 after We have collected your Item(s) if We are affected by an Event Outside Our Control
    <br>by telephoning our Customer Care Helpline.
    <br>5.3 You acknowledge that (subject to paragraph 2.3) once an Item has been collected from you we have begun to provide the Services to you and that any rights of cancellation you may have under the Consumer law or regulations will be lost.

    <br><b>6. Our rights to cancel your Order</b>
    <br>6.1 We may cancel your Order and the contract between you and Us in the following circumstances:
    <br>6.1.1 as a result of an Event Outside Our Control; or
    <br>6.1.2 if you fail to make items available for collection; or
    <br>6.1.3 if we consider that any Item does not correspond with the Order, is damaged, has no information about its content or cleaning instructions, or does not fall within those Items which we accept.
    <br>6.2 If we cancel your Order we will contact you by phone or email and
    <br>6.2.1 where We have already started work on your Order, We will not charge you anything and you will not have to make any payment to Us;
    <br>6.2.2 we will arrange to redeliver the Item(s) to you at the original redelivery time or as soon as reasonably possible.

    <br><b>7. Collection and redelivery</b>
    <br>7.1 Subject to paragraph 12, We will use reasonable endeavours to collect and re- deliver Items at the times specified in the Order but we cannot guarantee to do so. We will use reasonable endeavours to communicate any delay to you by phone or email.
    <br>7.2 If you are not available to accept redelivery of Items, we will contact you by phone or email to arrange redelivery at your convenience.
    <br>7.3 We are not obliged to attempt redelivery more than twice. If you are not available to accept redelivery a second time, Items will be returned to our Service Provider and you will be notified accordingly by phone or email. Subsequent redelivery will be at your expense.
    <br>7.4 If you have failed to accept or arrange redelivery of an Item for more than 90 days after the redelivery date specified in the Order we may dispose of the Item or donate it to charity.
    <br>7.5 Subject to paragraph 7, all items collections and re-deliveries must be acknowledged by a signature.
    <br>7.6 You may arrange to have Items collected from, or re-delivered to, a third party, on condition that you do so at your own risk and the third party is prepared to sign an acknowledgement on your behalf.
    <br>7.7 You may, by written instructions to us, request Us to leave an Item in an agreed location without providing Us with a signature of acknowledgement. If you do so, it is at Our discretion and entirely at your own risk and we shall not be liable to you for any damage or loss of Items re-delivered on this basis.

    <br><b>8. Service standards</b>
    <br>8.1 We will provide the Services with reasonable care and skill in accordance with good industry standards.
    <br>8.2 We will not be liable for any delay or non-performance of our Services where you have failed to provide accurate information in your Order, for example if an address is incomplete or inaccurate, or if you fail to accept redelivery of Items in accordance with an order
    <br>8.3 We may contact you by phone or email if we consider any Items submitted to us to be at an increased risk of damage, including, but not limited to, Items:
    <br>8.3.1 with special requirements or instructions for cleaning;
    <br>8.3.2 with no label indicating cleaning instructions;
    <br>8.3.3 which are damaged or stained; and
    <br>8.3.4 bearing an extraneous or hazardous thing, e.g., pins, jewellery, coins, pens, etc. and at our discretion and with your consent may agree to provide the Services at your risk in respect of those Items.
    <br>8.4 Wash and Fold Orders
    <br>8.4.1 Checking Items Please ensure to thoroughly check all the garments for hazardous items e.g. coins, pens, keys, etc. as we hold no responsibility for any items lost or damaged as a result of the cleaning process.
    <br>8.4.2 Washing and Drying Process The load is washed at a 30 degree cycle and tumble dried at a medium heat. As we process a high volume we will not be able to cater to personal requirements (e.g. temperature, washing powders, etc.).
    <br>8.4.3 Colour Separation We will separate the clothes into lights and darks for you. Although we will take the utmost care in doing this we will accept no responsibility if there is any bleeding or colour transfer during the cleaning process.
    <br>8.4.4 Size of Bag The dimensions of the bag we use are according to the deliverable items and when full will be the equivalent to 1.5 normal wash load. The maximum weight is 8kg. Any overspill will have to be transferred to another bag and charged the equivalent of an extra bag.
    <br>8.4.5 Delicate Items We will not be liable for damage to items that need to be specially treated i.e. leather, silk, cashmere, fur, velvet and other delicate garments. If you want to include these items please ensure that these items can be machine washed and tumble dried as the care label will not be inspected.
    <br>8.4.6 Tagging All items are tagged at our facility where we will generate a receipt as to what items have been provided. What has been billed by our facility will be final. A receipt of goods can be given on pick-up should you request this from our driver

    <br><b>9. If there is a problem with the services</b>
    <br>9.1 If there is any problem with the Services:
    <br>9.1.1 please contact our Customer Helpline number as detailed on the App and tell Us as soon as reasonably possible;
    <br>9.1.2 if you have a complaint about the Services we will deal with it in accordance with our Complaints Policy. You will not have to pay for Us to deal with your complaint.
    <br>9.2 Complaints should be notified to Us within 24 hours of redelivery of any Item if you believe that We are in breach of our obligations under these Terms.
    <br>9.3 As a consumer, you have statutory rights if our Services are not carried out with reasonable skill and care, or if the materials used are faulty or not as described.

    <br><b>10. Price and payment</b>
    <br>10.1 The price of the Services will be set out in Our price list as set out in the App or at http://www.dhopers.com/pricing and will be the price in force at the time you place your Order. Our prices may change at any time, but price changes will not affect orders that we have accepted in accordance with paragraph 3.2 or 4.3
    <br>10.2 Payment is due when we have completed the Services, i.e., on redelivery of your Items(s). We accept full cash on delivery or we will take payment from the debit or credit card, details of which were supplied on your order. If for any reason we are unable to take payment you will become liable to us for the sum due plus interest at the rate of 3% a year above the base lending rate of Bangladesh Bank from time to time. Interest will accrue on a daily basis from the due date until the date of actual payment of the overdue amount, whether before or after judgment. You must pay us interest together with any overdue amount.


    <br><b>11. Our liability to you</b>
    <br>11.1 Subject to the following sub-paragraphs of this paragraph 11 and to paragraph 12, We will be responsible to you for loss or damage you suffer that is a foreseeable result of Our breach of these Terms or Our negligence.
    <br>11.2 We will not be responsible to you for any loss or damage that is not foreseeable. Loss or damage is foreseeable if it is an obvious consequence of Our breach or if it was contemplated by you and us at the time we entered into a contract for the Services.
    <br>11.3 We only supply the Services for domestic and private use. You agree not to use the Services for any commercial, business or re-sale purpose, and We have no liability to you for any loss of profit, loss of business, business interruption, or loss of business opportunity.
    <br>11.4 We will not be responsible for any loss or damage (including, without limitation) any colour loss, shrinkage or other damage, resulting from the following:
    <br>11.4.1 failure to notify us of any special requirements or instructions for cleaning the Item; 11.4.2 the fact that the Item has no label indicating cleaning instructions;
    <br>11.4.3 any existing damage to the Item at the time of collection;
    <br>11.4.4 any extraneous or hazardous thing left in or on the Item, e.g., pins, jewellery, coins, pens, buttons or embellishments, etc.;
    <br>11.4.5 our acceptance of Items which we agree to provide the Services for under paragraph 8.3; 11.4.6 our agreement to re-deliver Items under paragraph 7.7;
    <br>11.4.7 your using the Services for Items, the value of which exceeds the limit on our liability set out in paragraph 11.6;
    <br>11.4.8 our disposal of Items under paragraph 7.4;
    <br>11.5 We do not exclude or limit in any way Our liability for:
    <br>11.5.1 death or personal injury caused by negligence;
    <br>11.5.2 fraud or fraudulent misrepresentation;
    <br>11.5.3 breach of the terms implied by section 2 of the Supply of Goods and Services Act (title and quiet possession);
    <br>11.5.4 breach of the terms implied by sections 3, 4 and 5 of the Supply of Goods and Services Act (description, satisfactory quality, fitness for purpose and samples); and
    <br>11.5.5 defective products under the Consumer Protection Act.
    <br>11.6 Subject to sub-paragraph
    <br>11.5, our total liability to you in respect of each Item is limited to ten times the price we charge for the Services.

    <br><b>12. Events Outside Our Control</b>
    <br>12.1 We will not be liable or responsible for any failure to perform, or delay in performance of, any of Our obligations under these Terms that is caused by an Event Outside Our Control.
    <br>12.2 An Event Outside Our Control means any act or event beyond Our reasonable control, or the reasonable control of any of our Service Providers including (without limitation) strikes, blockades, lock-outs or other industrial action by third parties, civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war, fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster, or closure or failure of public infrastructure or public or private telecommunications networks.
    <br>12.3 If an Event Outside Our Control takes place that affects the performance of Our obligations under these Terms:
    <br>12.3.1 We will contact you as soon as reasonably possible to notify you; and
    <br>12.3.2 Our obligations under these Terms will be suspended and the time for performance of Our obligations will be extended for the duration of the Event Outside Our Control; or
    <br>12.3.3 You may cancel your Order under paragraph 5.3 or We may cancel it under paragraph 6.1.1.
    <br>12.3.4 If your Order is cancelled We will return your Item(s) to you at no cost to you.


    <br><b>13. Information about us and how to contact us</b>
    <br>13.1 We are a freezone registered company under Tech House in Dhaka, Bangladesh.
    <br>13.2 If you have any questions or if you have any complaints, please contact Us. You can contact us by e-mailing us at info@dhopers.com, or sending a request via the App or by website.

    <br><b>14. How we may use your personal information</b>
    <br>14.1 We will use the personal information you provide to Us to:
    <br>14.1.1 provide the Services;
    <br>14.1.2 process your payment for such Services; and
    <br>14.1.3 inform you about similar products or services that We provide, unless you indicate that you do not wish to receive such communications by clicking the ‘Unsubscribe’ link at the bottom of any Dhopers promotional email communication.
    <br>14.2 We will not give your personal data to any third party other than any Service Providers

    <br><b>15. Other important terms</b>
    <br>15.1 We may transfer Our rights and obligations under these Terms to another organisation, and We will always notify you in writing if this happens, but this will not affect your rights or Our obligations under these Terms.
    <br>15.2 This contract is between you and Us. No other person shall have any rights to enforce any of its terms.
    <br>15.3 Each of the paragraphs of these Terms operates separately. If any court or relevant authority decides that any of them are unlawful, the remaining paragraphs will remain in full force and effect.

  </p></div><div class="w-col w-col-3"></div></div></div></div>