<p>Dear Admins,</p>
<p>A new user <%= @user.full_name %>&nbsp;has just signed up in our system!</p>
<br />
<p>Sincerely,</p>
<p><a href="http://dhopers.com" target="_blank">Dhopers.com</a></p>
<p>Mobile: +8801976678130</p>
<p>Skype: dhopers.support</p>
<p>Email: support@dhopers.com</p>