<h3>Dear <%= @user.first_name %></h3>
<p>Your order (<%= @order.order_number %>) has been delivered. </p>
<p>Click <%= link_to 'here', @url %> to view your order.</p>
<p>Thank you for using our service</p>
<br />
<p>Sincerely,</p>
<p><a href="http://dhopers.com" target="_blank">Dhopers.com</a></p>
<p>Mobile: +8801976678130</p>
<p>Skype: dhopers.support</p>
<p>Email: support@dhopers.com</p>