<h3>Dear <%= @user.first_name %></h3>
<p>Your order (<%= @order.order_number %>) has been processed. You will receive your item(s) in 24 hours</p>
<p>Click <%= link_to 'here', @url %> to view your order.</p>
<br />
<p>Sincerely,</p>
<p>Dhopers Team</p>