<h3>Dear <%= @user.first_name %></h3>
<p>Thank you for your order. Please preserve your order number <%= @order.order_number %>&nbsp;</p>
<p>You can use this number to track your order status anytime.</p>
<p>One of our operation managers will call you shortly to reconfirm your order. Once you reconfirm your order with your address,
  we will send a collector at your place.</p>
<p>You can check your order details from <%= link_to 'here', @url %>.</p>
<br />
<p>Sincerely,</p>
<p><a href="http://dhopers.com" target="_blank">Dhopers.com</a></p>
<p>Mobile: +8801976678130</p>
<p>Skype: dhopers.support</p>
<p>Email: support@dhopers.com</p>