<h3>Dear <%= @user.first_name %></h3>
<p>Thank you for your order. Please reserve your order number <%= @order.order_number %>&nbsp;</p>
<p>So you can track your order status anytime</p>
<p>A person will call you shortly to reconfirm and collect your delivery point</p>
<p>Click <%= link_to 'here', @url %> to view your order.</p>
<br />
<p>Sincerely,</p>
<p><a href="http://dhopers.com" target="_blank">Dhopers.com</a></p>
<p>Mobile: +8801976678130</p>
<p>Skype: dhopers.support</p>
<p>Email: support@dhopers.com</p>